.wrapper {
  width: 400px;
  height: fit-content;
  position: relative;
}

.head {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 4px;
}