@import url("./fonts/ttNormsPro/stylesheet.css");

*{
  box-sizing: border-box;
  font-family: 'TT Norms Pro';
}

body {
  margin: 0;
  font-family: 'TT Norms Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
